* , *::before , *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 50%;
    padding: 0.125rem;
    border: 1px solid;
    @media(width <= 600px){
        width: 80%;
    }
}



.accordions{
    width: 100%;
}

.accordions__item{
    width: 100%;
    padding: 1rem;
    height: 55px;
    overflow: hidden;
}
.accordions__item.open{
    height: 180px;
    transition: height 0.3 ease-in-out;
}

.accordion-trigger{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content{
    padding: 1rem;
}

.arrow-icon.open{
    rotate: 180deg;
    transition: rotate 0.3s ease-in-out;
}